In [1]:
import pandas as pd

In [2]:
data = {
    'participant_id':['SUN510001','SUN10002','SUN10003','SUN10004','SUN10005','SUN10006','SUN10007','SUN10008','SUN10009','SUN10010'],

    'name':['John Muvevi','Johnson Mutoro','Wanjiru Karanu','Grace Atieno','Purity Akinyi','Louiza Amimo','Benson Kigera','Yvonne Lilly','Frank Kiptoo','Penny Gituku'],

    'phone':['+254712345678','0712-222-333','07123456','0722456754','0788765789','07-26780700','+254734568900','0780-345-678','0723546768','0734567890'],

    'age':['20','15','11','14','33','28','26','35','22','9'],

    'gender':['male','Male','F','Female','female','F','Male','Female','M','F'],

    'attendance':['Present','Present','Present','Absent','Present','Absent','Absent','Present','Present','Present'],

    'session_date':['2025-11-05','2025-11-05','2025-11-12','2025-11-12','2025-11-19','2025-11-19','2025-11-26','2025-11-26','2025-12-02','2025-12-02'],

    'session_topic':['Introduction to Computers','Introduction to Computers','Online Safety','Basic Typing Skills','Basic Typing Skills',
    'Digital Creativity','Digital Creativity','Communication Skills','Communication Skills','Financial Literacy Basics']
}

df = pd.DataFrame(data)

In [4]:
#save to csv
df.to_csv('sample data.csv')

In [6]:
df = pd.read_csv('sample data.csv')
df.head()

,Unnamed: 0,participant_id,name,phone,age,gender,attendance,session_date,session_topic
0,0,SUN510001,John Muvevi,+254712345678,20,male,Present,2025-11-05,Introduction to Computers
1,1,SUN10002,Johnson Mutoro,0712-222-333,15,Male,Present,2025-11-05,Introduction to Computers
2,2,SUN10003,Wanjiru Karanu,07123456,11,F,Present,2025-11-12,Online Safety
3,3,SUN10004,Grace Atieno,0722456754,14,Female,Absent,2025-11-12,Basic Typing Skills
4,4,SUN10005,Purity Akinyi,0788765789,33,female,Present,2025-11-19,Basic Typing Skills

In [7]:
#formating date
df['session_date'] = pd.to_datetime(df['session_date'],format = '%Y-%m-%d')

In [8]:
#standardize gender
df['gender'] = df['gender'].str.lower()#change into lowercase

gender_map  = {'M':'Male',  # correction maps
               'F':'Female',
               'f':'Female',
               'm':'Male',
               'male':'Male',
               'female':'Female'}

df['gender'] = df['gender'].map(gender_map)

In [ ]:
# trim white spaces
for col in df.columns:
    if df[col].dtype == 'object': 
        df[col] = df[col].str.strip()

In [ ]:
#validate customer_id
df['participant_id'] = df['participant_id'].astype(str)
df['valid_id'] = df['participant_id'].str.match(r'^SUN\d{5}$')

In [ ]:
# validate age is between 10 and 35
df['age'] = pd.to_numeric(df['age'], errors='coerce') # change to number first incase there is an instance where there are non-numeric values present
df['valid_age'] = df['age'].between(10, 35)

In [ ]:
#validate attendance is not blank
df['valid_attendance'] = df['attendance'].notna()

In [ ]:
# validate phone
df['phone'] = df['phone'].str.replace(r'[^0-9\+]', '', regex=True)

In [ ]:
# validate the numbers and set any invalid numbers to none
df['valid_phone'] = df['phone'].str.match(r'^(?:\+2547\d{8}|07\d{8})$', na=False)

In [15]:
df['phone']

0    +254712345678
1       0712222333
2             None
3       0722456754
4       0788765789
5       0726780700
6    +254734568900
7       0780345678
8       0723546768
9       0734567890
Name: phone, dtype: object